<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheet/apresentacao.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id='apresentacao'>

            <div id='titulo'><div class='prod'><strong>Kit Cavalete</strong></div><br>
                <div class='tlo'>promoções - eventos - divulgações de comercio</div>
            </div>	 
            <div id='logo'><img src='image/logoAp.png' width='240px'/></div>

            <div class="clearfix"></div>

            <div id='descricao'><p>Cavalete c/ estrutura de metal, lona impressa com 
                    alta resolução com acabamento em ilhós, 
                    ótimo custo benefício para divulgação.</p>
            </div>	 


            <div id='composicao'>Composição <br>
                Área de Impressão<br>
                8 Barras de Metal 20x20 mm, <br>
                2 Lonas 280g Brilho,<br>
                6 peças de encaixe,<br>
                Braçadeiras <br>

                Área de Impressão<br>
                Kit Cav - 703: 54x74 cm<br>
                Kit Cav - 704: 64x94 cm<br>
                Kit Cav - 705: 74x114 cm<br>
            </div>

            <div class="clearfix"></div>

            <div id='imgp'>
                <img src='image/produto.png'/>
            </div>

            <div id='imgp'>
                <img src='image/produto.png' width='50px'/>
            </div>

            <div class="clearfix"></div>

            <div id='dimesao'>

                Código Produto:<br>
                DIMENSÕES:<br>
                PESO:<br>

            </div>

            <div id='dimesao'>
                703<br>
                60x90 cm<br>
                4,86 <br>      
            </div>

            <div id='dimesao'>
                704<br>
                60x90 cm<br>
                4,86<br>       
            </div>

            <div id='dimesao'>
                705<br>
                60x90 cm<br>
                4,86<br>       
            </div>	 



            <div id='endereco'>
                Casa dos Banners<br>

                www.casadosbanners.com.br<br>
                Rua João Batista Dallarmi, 693 <br>
                Santo Inácio - Curitiba - PR<br>
            </div>


        </div>
    </body>
</html>
